body *{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Castoro Titling', serif; 
    font-size: 60px;
    text-align: center; 
    font-weight: 900;
}

h2 {
    font-family: 'Oranienbaum', serif; 
    font-size: 40px;
    text-align: center; 
    font-weight: 900;
}

body {
    background-color: lightgray;
    font-size: 25px;
    background-image: url('depositphotos_107768184-stock-photo-business-financial-newspaper-forecast-detail.jpg');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.highlight-Cash-Rate {
    color: #e74c3c;
    font-weight: bold;
}

.highlight-Exchange-Settlement-Rate {
    color: #3498db;
    font-weight: bold;
}

.highlight-Overnight-Repo-Rate {
    color: #2ecc71;
    font-weight: bold;
}

.page {
    width: 850px;
    background-color: whitesmoke;
    margin: auto;
    padding: 25px; /* padding between the page and the content */
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    padding: 15px; /* padding between the content and the grid group */
    border-radius: 10px; /* rounded corners for the grid group */
    background-color: white;    
}

.small-font {
    font-size: 14px;
}

